.detailsContainer {
  color: #eaeadf;
  background-image: url("../../images/currency-image.jpg");
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #0c3304b3;
}

.indiImg {
  width: 120px;
  height: 120px;
}

.detailTitle {
  background-color: #0a2600f2;
  padding: 7px 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.info:nth-child(even) {
  background-color: #002602f2;
}

.info:nth-child(odd) {
  background-color: #0f3806f0;
}

.infoLink {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #083806f0;
  padding: 20px 30px;
}

.infoLink:nth-child(even) {
  background-color: #0c2600f2;
}

.coin-info {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .indiImg {
    width: 100px;
    height: 100px;
  }

  .info,
  .infoLink {
    padding: 15px;
    font-size: 13px;
  }

  .detailTitle {
    padding: 5px 15px;
    font-size: 20px;
  }

  .imageContainer {
    padding: 30px;
  }
}
